<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>index</title>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        {{ message }}
    </div>

	<div id="app-2">
        <span v-bind:title="message">
		    鼠标悬停几秒钟查看此处动态绑定的提示信息！
		</span>
	</div>

    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>





	<div>
		<input type="button" value="ajax按钮" onclick="ajax()">
		<input type="text" id="123" value="">
	</div>

	<form action="/JavaWeb/SpringMVC/saveUser" method="get">
		<div>
            <label class="" for="username">账号</label>
		    <input id="username" type="text" name="username" value="" placeholder="邮箱/手机/用户名">
		</div>

		<div>
            <label class="" for="password">密码</label>
		    <input id="password" type="text" name="password" value="">
		</div>

        <div>
            验证码：<input type="text" name="password" value="">
        </div>

		<input type="submit" value="保存">
	</form>


    <!-- JS文件-->
    <script type="text/javascript" src="./app/index.js"></script>

</body>
</html>