<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengshiqing.springai.dao.AliOssFileMapper">

    <resultMap id="BaseResultMap" type="com.fengshiqing.springai.dao.entity.AliOssFile">
        <id property="id" column="id"/>
        <result property="fileName" column="file_name"/>
        <result property="url" column="url"/>
        <result property="vectorId" column="vector_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectByIds" resultMap="BaseResultMap">
        select * from ali_oss_file
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <delete id="deleteBatchIds">
        delete from ali_oss_file
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findByFileNameContaining" resultMap="BaseResultMap">
        select * from ali_oss_file
        <where>
            <if test="fileName != null and fileName != ''">
                file_name like concat('%', #{fileName}, '%')
            </if>
        </where>
        <if test="offset != null and pageSize != null">
            limit #{offset}, #{pageSize}
        </if>
    </select>

    <select id="countByFileName" resultType="long">
        select count(*) from ali_oss_file
        <where>
            <if test="fileName != null and fileName != ''">
                file_name like concat('%', #{fileName}, '%')
            </if>
        </where>
    </select>

</mapper>
