<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Spring MVC Application</display-name>

	<!-- Spring和mybatis的配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-mybatis.xml</param-value>
	</context-param>
	
	<!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 防止Spring内存溢出监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>


	<!-- 此Servlet用来整合SpringMVC框架 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param><!-- 这个初始换参数标签可以不写，因为默认值就是：“/WEB-INF/<servlet-name>-servlet.xml” -->
			<param-name>contextConfigLocation</param-name>
			<!-- param-value>/WEB-INF/springmvc-servlet.xml</param-value --><!-- 可以换为classpath:aaa.xml -->
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>



	<!-- 典型的 Listener监听器 配置 -->
	<listener>
		<listener-class>servlet.listener.MySCListener</listener-class>
	</listener>
	<listener>
		<listener-class>servlet.listener.MyHttpSessionListener</listener-class>
	</listener>

	<!-- 典型的 Servlet 配置 -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.itheima.web.LoginServlet</servlet-class>
		<init-param>
			<param-name></param-name>
			<param-value></param-value>
			<description></description>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>


	<!-- 当前整个应用内，所有的报错都会重定向到此处，如果Jsp页面内配置了errorPage，以errorPage为准。 -->
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
		<!--exception-type></exception-type 这个元素不能和 <error-code> 一起使用，否则就没有效果 -->
	</error-page>
	<!-- 或者用这种方式： <error-page> <exception-type>java.lang.Throwable</exception-type> 
		<location>/error/500.jsp</location> </error-page> -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
