<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kunning.springboot.dao.UserDao">

    <insert id="insert" parameterType="com.kunning.springboot.pojo.UserDto">
        INSERT INTO t_user (username, password) VALUES (#{username}, #{password})
    </insert>


    <update id="update" parameterType="com.kunning.springboot.pojo.UserDto">
        UPDATE t_user
           SET userName=#{username}, password=#{password}
        WHERE id = #{id}
    </update>


    <delete id="delete" parameterType="int">
        DELETE FROM t_user
         WHERE id = #{id}
    </delete>


    <select id="queryAllUser" parameterType="com.kunning.springboot.pojo.UserDto" resultType="com.kunning.springboot.pojo.UserDto">
        SELECT *
          FROM t_user
         WHERE 1 = 1
    </select>


    <select id="queryUserById" parameterType="int" resultType="com.kunning.springboot.pojo.UserDto">
        SELECT *
          FROM t_user
         WHERE 1 = 1
           AND id = #{userId}
    </select>


    <select id="queryUserByUserName" resultType="com.kunning.springboot.pojo.UserDto">
        SELECT
                *
        FROM t_user
        WHERE 1 = 1
        AND username = #{username}
    </select>

</mapper>