<?xml version="1.0" encoding="UTF-8"?>
<!--官网：http://logback.qos.ch/ -->
<!--官方文档：http://logback.qos.ch/documentation.html，这个包含了 logback的所有特性-->
<!--官方手册：http://logback.qos.ch/manual/index.html，这个是详细使用的手册，主要看这个！！！-->

<!--scan：默认为true，表示配置文档发生改变，将会被重新加载。-->
<!--scanPeriod：配置监测配置文档改变的时间，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。-->
<!--debug:设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。-->
<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <!--日志格式：日期时间、日志级别、线程名、%日志名称、行号，输出的日志消息。详细参数看这里：http://logback.qos.ch/manual/layouts.html -->
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%5level] --- [%thread] [%logger :: %line] --- %msg%n"/>
    <!--日志存放的目录路径-->
    <property name="LOG_HOME" value="/workspace/logs/SpringBoot"/>


    <!--appender子节点，是规定如何处理日志的组件。数量>=0-->
    <!--日志输出到控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>


    <!--日志输出到文件-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_HOME}/run.log</file><!-- D盘，默认是代码所在盘的根目录 -->
        <append>true</append><!--true追加日志，false覆盖日志-->
        <!--日志滚动策略-->
        <!--rollingPolicy:当发生滚动时，决定 RollingFileAppender 的行为，涉及文件移动和重命名。-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/run.%d{yyyy-MM-dd}.%i.log</fileNamePattern><!--每天归档一次-->
            <maxFileSize>100MB</maxFileSize> <!-- 单个文件最大 100MB -->
            <maxHistory>30</maxHistory><!--每产生一个日志文件，该日志文件的保存期限为30天-->
            <totalSizeCap>10GB</totalSizeCap><!-- 总大小限制 -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart><!-- 启用 清空历史文件 -->
        </rollingPolicy>
    </appender>


    <!-- 异步包装器：将 FILE 包装为异步。将日志事件放入队列，由独立线程异步写入目标（如文件、控制台），从而避免 I/O 阻塞业务线程，提升系统吞吐量。 -->
    <!-- AsyncAppender 内部使用一个 阻塞队列（BlockingQueue） 来缓存待处理的日志事件，并由后台线程异步写入到实际的 appender（如 ConsoleAppender、FileAppender 等）。-->
    <appender name="FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize> <!-- 默认队列容量：256 个日志事件。这里扩大到 512 -->
        <discardingThreshold>20</discardingThreshold><!-- 默认为0，表示不丢失日志。这里是设置为20，表示队列中剩余50时，会丢弃TRACT、DEBUG、INFO级别的日志） -->
        <appender-ref ref="FILE"/> <!-- 添加附加的appender，最多只能添加一个 -->
    </appender>



    <!--开发环境：日志记录到 控制台-->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>

        <!--logger子节点，是规定哪里需要写日志的组件。数量>=0-->
        <!-- 指定项目中某个包的代码的日志级别，以"com.kunning.springboot"为例，此包及其子包下面的所有日志记录级别都是DEBUG -->
        <logger name="com.kunning.springboot" level="INFO" additivity="false">
            <!--appender-ref子标签可以有0或多个-->
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE_ASYNC"/>
        </logger>

        <logger name="com.kunning.springboot.aop" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>



    <!--生产环境：日志异步记录到 文件-->
    <springProfile name="pro|PRO|prod|PROD">
        <root level="INFO">
            <appender-ref ref="FILE_ASYNC"/>
        </root>
    </springProfile>

</configuration>
