<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.1.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 自动扫描该包，SpringMVC会将包下用了@controller注解的类加入到IoC容器中。 -->
	<context:component-scan base-package="com.tutorialspoint" />
	<context:component-scan base-package="com.mybatis" />
	<context:component-scan base-package="springMVC" />

	<!-- 允许直接访问静态资源 -->
	<mvc:annotation-driven/>
	<mvc:resources location="/app/" mapping="/app/**" /><!-- 根目录是WebContent -->
	<!-- <mvc:resources mapping="/styles/**" location="/WEB-INF/resource/styles/"/> -->
	<!-- <mvc:resources location="/img/" mapping="/img/**"/>   
	<mvc:resources location="/js/" mapping="/js/**"/>    
	<mvc:resources location="/css/" mapping="/css/**"/> -->



	<!-- Spring整合mybati
	这里面也没多少行配置，主要的就是 自动扫描，自动注入，配置数据库 。注释也很详细，大家看看就明白了。
	具体详情请参阅官网文档：http://www.mybatis.org/spring/zh/index.html -->
	<!-- 引入数据库配置文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:jdbc.properties" /><!-- 引入jdbc.properties中的配置信息 -->
	</bean>

	<!-- 数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<!-- 从数据库配置文件中读取配置 -->
		<property name="driverClassName" value="${driver}" /><!-- 驱动 -->
		<property name="url" value="${url}" /><!-- url -->
		<property name="username" value="${username}" /><!-- 用户名 -->
		<property name="password" value="${password}" /><!-- 密码 -->
		
		<property name="initialSize" value="${initialSize}"></property><!-- 初始化连接大小 -->
		<property name="maxActive" value="${maxActive}"></property><!-- 连接池最大数量 -->
		<property name="maxIdle" value="${maxIdle}"></property><!-- 连接池最大空闲数 -->
		<property name="minIdle" value="${minIdle}"></property><!-- 连接池最小空闲数 -->
		<property name="maxWait" value="${maxWait}"></property><!-- 获取连接最大等待时间 -->
	</bean>

	<!-- Spring 整合 MyBatis后，不需要mybatis的配置映射文件。要和 Spring 一起使用 MyBatis，需要在 Spring 应用上下文中定义至少两样东西：
		一个 SqlSessionFactory 和 至少一个数据映射器类。
	在 MyBatis-Spring 中，SqlSessionFactoryBean 是用于创建 SqlSessionFactory 的。要配置这个工厂 bean，放置下面的代码在 Spring 的 XML 配置文件中： -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" /><!-- SqlSessionFactory 需要一个 DataSource(数据源)，可以是任意的 DataSource，配置它就和配置其它 Spring 数据库连接一样。 -->
		<!--property name="configLocation" value="classpath:conf/mybatis.xml" /--><!-- 可以添加mybatis配置文件 -->
		<property name="mapperLocations" value="classpath:com/mybatis/mapping/*.xml"></property><!-- 从类路径下加载 com.mybatis.mapping 包及其子包下所有的映射器 XML文件 -->
		<!-- property name="mapperLocations">自动扫描多个目录下的映射XML文件可以这么写
			<list>
				<value>classpath*:conf/sqlMap/sqlMap_*.xml</value>
				<value>classpath*:conf/sqlMap/fb/**/sqlMap_*.xml</value>
			</list>
		</property-->
	</bean>


	<!-- Dao层接口 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.mybatis.dao" /><!-- 自动扫描包下的dao类 -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>


	<!-- 要开启Spring的事务处理,在Spring的XML配置文件中简单创建一个 DataSourceTransactionManager 对象即可。
	注意，为事务管理器指定的 DataSource 必须和用来创建 SqlSessionFactoryBean 的是同一个数据源，否则事务管理器无法工作。 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!--支持事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<!-- 定义跳转的文件的前后缀 ，视图模式配置 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="utf-8" /><!-- 默认编码 -->
        <property name="maxUploadSize" value="10485760000" /><!-- 文件大小最大值 -->
        <property name="maxInMemorySize" value="40960" /><!-- 内存中的最大值 -->
    </bean>

</beans>
