<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kunning.mybatis.mappers.StudentMapper"><!-- 对应接口的限定名 -->

	<insert id="add" parameterType="com.kunning.pojo.User" ><!-- parameterType="Student" 因为mybatis-config里配置了别名，所以这里可以这么用 -->
		insert into user (id, username, password) values( null, #{username}, #{password} )
	</insert>
	
	<update id="update" parameterType="com.kunning.mybatis.model.Student">
		update user set username=#{username}, age=#{age} where id=#{id}
	</update>
	
	<delete id="delete" parameterType="com.kunning.mybatis.model.Student">
		delete from user where id=#{id}
	</delete>
	
	<select id="findById111" parameterType="Integer" resultType="com.kunning.mybatis.model.Student">
		select * from user where id=#{id}
	</select>
	
	<resultMap type="com.kunning.mybatis.model.Student" id="StudentResult">
		<id property="id" column="id"/><!-- id标签是用来定义主键的 -->
		<result property="username" column="username"/><!-- result标签是定义普通列的 -->
		<result property="age" column="age"/>
		
		<result property="address.id" column="addressId"/>
		<result property="address.sheng" column="sheng"/>
		<result property="address.shi" column="shi"/>
		<result property="address.qu" column="qu"/>
	</resultMap>
	
	<select id="find" resultMap="StudentResult">
		select * from user
	</select>
	
	<select id="findStudentWithAddress" resultMap="StudentResult">
		select * from user t1, t_address t2
		 where t1.addressId = t2.id
		   and t1.id=#{id}
	</select>
	
	<insert id="insertStudents" parameterType="com.kunning.mybatis.model.Student" ><!-- parameterType="Student" 因为mybatis-config里配置了别名，所以这里可以这么用 -->
		insert into user values( null, #{name}, #{age}, #{pic}, #{remark} )
	</insert>
	
	<select id="queryStudentById" parameterType="int" resultType="com.kunning.mybatis.model.Student">
		SELECT	* 
		FROM	user
		WHERE	id = #{id}
	</select>
	
	<!-- 分页查询——逻辑分页 -->
	<select id="queryStudentRowBound" resultType="com.kunning.mybatis.model.Student">
		SELECT	* 
		FROM	user
	</select>
	
	<!-- 分页查询——物理分页 -->
	<select id="queryStudentLimit" parameterType="Map" resultType="com.kunning.mybatis.model.Student">
		SELECT	* 
		FROM	user
		<if test="start !=null and size != nul">
			limit #{start}, #{size}
		</if>
	</select>
	
</mapper>
