<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="10 seconds" debug="false">
    <!--scan：当此属性设置为true时，配置文档如果发生改变，将会被重新加载，默认值为true
        scanPeriod：配置监测配置文档改变的时间，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。 -->
    <!-- debug:当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
    <contextName>SpringBoot</contextName>
    <property name="LOG_HOME" value="/workspace/logs/SpringBoot"/>
    <!-- %d日期时间，%p日志级别，%t线程名，%c类的全名，%m/%msg输出的信息，%i索引【从数字0开始递增】,,, -->
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%5p] --- [%thread] [%class:%line :: #%method] --- %msg%n"/>

    <!--=============================================================================================================-->

    <!--appender 是 configuration 的子节点，是负责写日志的组件。-->
    <!--日志输出到控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><!-- pattern节点，用来设置日志的格式 -->
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset><!-- 控制台也要使用UTF-8，不要使用GBK，否则会中文乱码 -->
        </encoder>
    </appender>

    <!--日志输出到文件-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append><!--true追加日志，false覆盖日志-->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset><!-- 设置日志的编码 -->
        </encoder>
        <File>${LOG_HOME}/springboot.log</File><!-- D盘，默认是代码所在盘的根目录 -->
        <!-- rollingPolicy:当发生滚动时，决定 RollingFileAppender 的行为，涉及文件移动和重命名。 -->
        <!-- TimeBasedRollingPolicy： 最常用的滚动策略，它根据时间来制定滚动策略，既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 活动文件的名字会根据fileNamePattern的值，每隔一段时间改变一次 -->
            <!-- 文件名：springboot.2019122523.0.log -->
            <fileNamePattern>${LOG_HOME}/springboot.%d{yyyyMMddHH}.%i.log</fileNamePattern>
            <!-- 每产生一个日志文件，该日志文件的保存期限为30天 -->
            <maxHistory>360</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10240KB</maxFileSize><!-- maxFileSize:这是活动文件的大小，默认值是10MB,本篇设置为1KB，只是为了演示 -->
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--=============================================================================================================-->

    <!-- 指定项目中某个包的代码的日志级别，以"com.kunning.springboot"为例，此包及其子包下面的所有日志记录级别都是DEBUG -->
    <!-- 级别【从高到低】依次为：FATAL > ERROR > WARN > INFO > DEBUG > TRACE  -->
    <logger name="com.kunning.springboot" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- 控制台输出日志级别 -->
    <!--日志级别从低到高分为TRACE < DEBUG < INFO < WARN < ERROR < FATAL。-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
