<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fengshiqing.springcloud.dao.DailySignInMapper">

    <insert id="insert">
        INSERT INTO t_user_daily_sign_in (
                user_id, month, detail, continuous_num, total_num
        ) VALUES (
                #{userId}, #{month}, #{detail}, #{continuousNum}, #{totalNum}
        )
    </insert>


    <update id="updateByPrimaryKey" parameterType="com.fengshiqing.springcloud.dao.entity.DailySignEntity">
        UPDATE  t_user_daily_sign_in
        SET
                `detail`         = #{detail,jdbcType=INTEGER},
                `continuous_num` = #{continuousNum},
                `total_num`      = BIT_COUNT(detail)
        WHERE 1 = 1
        AND     `user_id` = #{userId}
        AND     `month` = #{month}
    </update>


    <select id="selectByPrimaryKey" resultType="com.fengshiqing.springcloud.dao.entity.DailySignEntity">
        SELECT
                user_id, `month`, detail, total_num, continuous_num
        FROM t_user_daily_sign_in
        WHERE 1 = 1
        AND   `user_id` = #{userId}
        AND   `month` = #{month}
    </select>

</mapper>